:root{
  --primary-color: #005BFF;
  --primary-light-color: #0059ff51;
  --accent-color: #F1117E;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100dvh;
}

#app{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Progress container */

.container{
  width: 100%;
  max-width: 400px;
  height: fit-content;
  background-color: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 40px;
}

@media (orientation: landscape) {
  .container {
    flex-direction: row; 
  }
}

/* Progress ring */
.progress-ring{
  width: 100%;
  max-width: 180px;
  aspect-ratio: 1/1;
}

.progress-ring circle{
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.5s ;
}

.progress-back{
  filter: drop-shadow(0 0 2px var(--primary-color));
}

.progress-bar{
  stroke-linecap: round;
}

/* Animated */
@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.isActive{
  animation: animate 1.5s linear infinite;
  transform-origin: center;
}

/* States wrapper */
.states-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
}

.state{
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
}

.normal-state input{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  width: 2.9em;
  height: 1.66em;
  border-radius: 30px;
  outline: none;
  border: 1px solid #adb5bd;

}
/* Switchers */
.switch {
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}